* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.Title {
  color: black;
  font-family: 'MaisonNeue', sans-serif;
  margin-top: 20px;
}

.Description {
  color: #fc5200;
  font-family: 'MaisonNeue', sans-serif;
}